<p id="notice"><%= notice %></p>

<h1>Urls</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <!-- <th>Slack name</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td>
          <a href="/<%= url.id %>"><%= url.id %></a>
        </td>
        <!-- <td><a href="http://learn.wyncode.co">GoodMeasure</a></td> -->
        <!-- <td><%#= aide.slack_name %></td> -->
        <!-- <td><%#= link_to 'Show', aide %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_aide_path(aide) %></td> -->
        <!-- <td><%#= link_to 'Destroy', aide, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Url', new_aide_path %>
