<h1>Urls#new</h1>
<p>Find me in app/views/urls/new.html.erb</p>

<%= form_with scope: :url, local: true do |form| %>
  <p>
    <%= form.label :url %><br>
    <%= form.url_field :url %>
  </p>



  <p>
    <%= form.submit %>
  </p>
<% end %>
